<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%requestURL %statusCode [ bytes: %bytesSent ] [ time: %elapsedTime ] [ headers: %header ]</pattern>
        </encoder>
    </appender>
    <appender-ref ref="STDOUT"/>
</configuration>